body {
    font-family: 'Arial', sans-serif;
}

h5 {
    color: #333;
    margin-bottom: 15px;
}

input, .form-check-label {
    border-radius: 5px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button {
    transition: all 0.3s ease;
}

button:hover {
    background-color: #333;
    color: white;
}
    